.calculator-tape {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 8px;
  @include fontSize(18px);
}

.calculator-display {
  margin-bottom: 10px;
  border-radius: 40px;
  padding: 5px 20px;
  background: var(--white);
  color: var(--black);
  text-align: right;
  @include fontSize(49px);
  font-weight: 500;
  box-shadow: 3px 3px 11px -5px;
}

button {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  @include fontSize(27px);
  &.--gray {
    border: 1px solid var(--gray);
    color: var(--gray);
    &:active {
      background: var(--gray);
      color: var(--white);
    }
  }
  &.--pink {
    border: 1px solid var(--frolly);
    color: var(--frolly);
    &:active {
      background: var(--frolly);
      color: var(--white);
    }
  }
}

.subtract {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.add {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}

.clear {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

.equal {
  grid-row: 4 / 6;
  grid-column: 4 / 5;
  border-radius: 40px;
  background: var(--frolly);
  color: var(--white);
}

